/* 
.cls-btn{
    margin-top: 20px;
}
.form-group input{
    margin-bottom: 20px;
} */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.brand_name{
    font-family: 'Audiowide', cursive;

}