{% extends 'base_main.html' %}

{% block main %}

<div class="container-fluid px-4">
  <h1 class="mt-4 mb-4">Add Room Type</h1>
  <div class="card mt-1 mb-4">
      <div class="card-body ">
        <form method = "post" action = "/addroomtype">
          {% csrf_token %}
          <div class="form-group">
            <label for = "name">Room Type</label>
            <input type = "text" class="form-control" id = "name" name = "name" placeholder="Enter New Room Type" required>
          </div>
            <div class="col-12">
              <input type = "submit" name = "addroomtype" value = "SUBMIT" class="btn btn-success">&nbsp;&nbsp;&nbsp;&nbsp;
          <a role="button" href="/roomtype" class="btn btn-danger">Cancel</a>
            </div>
        </form>          
      </div>
  </div>
</div>

{% endblock main %}
