{% extends 'base_main.html' %}

{% block main %}

<div class="container-fluid px-4">
  <h1 class="mt-4 mb-4">Edit Appointment</h1>
  <div class="card mt-1 mb-4">
      <div class="card-body ">
        {% for i in read %}
        <form method = "post" action = "/editappointment/{{i.AppointmentID}}">
          {% csrf_token %}


          <div class = "row">

            <div class = "col-md-6">

                <div class="form-group">
                    <label for="patient" class = "form-label">Choose Patient:</label>
                    <select id="patient" name="patient" class = "form-select">
                      <option value="default"><b>Choose Patient</b></option>
                
                      {% for p in pat %}
                      {% if p.PatientID == i.Patient_id %}
                        <option value="{{p.PatientID}}" name = "patient" selected>{{p.FirstName}} {{p.LastName}}-{{p.Mobile}}</option>
                      {% else %}
                        <option value="{{p.PatientID}}" name = "patient">{{p.FirstName}} {{p.LastName}}-{{p.Mobile}}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                  </div>
        
                  <div class= "form-group">
                    <label for="date">Choose Date: </label>
                    <input class = "form-control" id="date" type="date" name="date" value="{{date}}">
                    {% comment %} <input class="form-control" type="datetime-local" id="date" name="date" value="{{date}}" min="2018-06-07T00:00" max="2025-06-14T00:00"> {% endcomment %}
                  </div>

                    <div class="form-group">
                    <label for="department" class = "form-label">Choose Department:</label>
                    <select id="department" name="department" class = "form-select">
                        <option value="default"><b>Choose Department: </b></option>
                
                        {% for d in dep %}
                        {% if d.DepartmentID == i.DepartmentID %}
                          <option value="{{d.DepartmentID}}" name = "department" selected>{{d.DepartmentName}}</option>
                        {% else %}
                          <option value="{{d.DepartmentID}}" name = "department">{{d.DepartmentName}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    </div>
        
                  <div class="form-group">
                    <label for="doctor" class = "form-label">Choose Doctor:</label>
                    <select id="doctor" name="doctor" class = "form-select">
                      <option value="default"><b>Choose Doctor: </b></option>
                
                      {% for d in doc %}
                      {% if d.DoctorID == i.Doctor_id %}
                        <option value="{{d.DoctorID}}" name = "doctor" selected>Dr.{{d.FirstName}}{{d.LastName}}</option>
                      {% else %}
                        <option value="{{d.DoctorID}}" name = "doctor">Dr.{{d.FirstName}}{{d.LastName}}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                  </div>

            </div>

            <div class = "col-md-6">
        
                  <div class="form-group">
                    <label for="time" calss = "form-label">Choose Time:</label>
                    <select id="time" name="time" class = "form-select">
                      <option value="default"><b>Choose Time: </b></option>
                
                    {% for t in time %}
                      {% if t.TimeID == i.Time_id %}
                        <option value="{{t.TimeID}}" name = "time" selected>{{t.Time}}</option>
                      {% else %}
                        <option value="{{t.TimeID}}" name = "time">{{t.Time}}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                  </div>
        
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Problem</label>
                    <textarea class="form-control" name = "problem" id="exampleFormControlTextarea1" rows="3" placeholder="What is your problem?">{{i.Problem}}</textarea>
                  </div>

            </div>

          </div>

          

          


            <div class="col-12">
              <input type = "submit" name = "editappointment" value = "SUBMIT" class="btn btn-success">&nbsp;&nbsp;&nbsp;&nbsp;
          <a role="button" href="/Appointment" class="btn btn-danger">Cancel</a>
            </div>
        </form> 
        {% endfor %}         
      </div>
  </div>
</div>

{% endblock main %}
